<div class="container-expand main-container d-flex justify-content-center align-items-center">
  <div class="col-12 d-flex main-header">
    <div class="col-3 text-center logo-ml">
    </div>
    <div class="col-7">
      <!-- input buscador de productos con bootstrap -->
      <div class="input-group mb-3 mt-3 search-bar">
        <input type="text" class="form-control" placeholder="Buscar producto" aria-label="Recipient's username"
          aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-2 d-flex justify-content-center align-items-center">
    </div>
  </div>
</div>
<router-outlet></router-outlet>
