<div class="container-expand main-home pt-4 pb-4">
  <div class="row d-flex justify-content-center">
    <section class="col-12 mt-5 row d-flex justify-content-center">
      <div class="col-12 m-1 d-flex">
        <div class="col-8">
          <h2 class="mb-0 pb-0">{{searching}}</h2>
          <span *ngIf="pageSize > 0">{{pageSize}} Resultados</span>
        </div>
        <div class="col-3">
          <!-- selector con label para ordenar los productos por precio de mayor a menor o viceversa-->
          <select #ordenar class="col-12" id="selector" name="selector" (change)="orderByPrice(ordenar.value)">
            <option value="relevance">Más Relevantes</option>
            <option *ngFor="let order of ordersByCost" [value]="order.id">{{order.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-12 row d-flex">
        <div class="col-2 mt-2">
          <h3 class="mb-0 pb-0">Condición</h3>
          <div class="col-12 row d-flex">
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="condicion" id="todos99"
                  (change)="filterByCondition('')" checked>
                <label class="form-check-label" for="todos99">
                  Todos
                </label>
              </div>
              <div class="form-check" *ngFor="let filter of filters; let i = index ">
                <input class="form-check-input" type="radio" name="condicion" id="todos{{i}}"
                  (change)="filterByCondition(filter.id)">
                <label class="form-check-label" for="todos{{i}}">
                  {{filter.name}} ({{filter.results}})
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-10 row d-flex justify-content-center">
          <div class="col-8 col-lg-3 col-xl-2 m-1" *ngFor="let product of products">
            <app-product-card [product]="product"></app-product-card>
          </div>
        </div>
      </div>
      <div class="col-12 m-1">
        <mat-paginator [length]="pageSize" [pageSize]="30" aria-label="Select page" (page)="changePage($event)">
        </mat-paginator>
      </div>
    </section>
  </div>
</div>
